/* DECLARATION DES POLICES PERSONNALISEES*/

@font-face {
    font-family: 'fishfingersregular';
    src: url('../police/fishfinger_regular/fishfingers_0-webfont.eot');
    src: url('../police/fishfinger_regular/fishfingers_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/fishfinger_regular/fishfingers_0-webfont.woff2') format('woff2'),
         url('../police/fishfinger_regular/fishfingers_0-webfont.woff') format('woff'),
         url('../police/fishfinger_regular/fishfingers_0-webfont.ttf') format('truetype'),
         url('../police/fishfinger_regular/fishfingers_0-webfont.svg#fishfingersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bree_serifregular';
    src: url('../police/bree_regular/breeserif-regular_0-webfont.eot');
    src: url('../police/bree_regular/breeserif-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/bree_regular/breeserif-regular_0-webfont.woff2') format('woff2'),
         url('../police/bree_regular/breeserif-regular_0-webfont.woff') format('woff'),
         url('../police/bree_regular/breeserif-regular_0-webfont.ttf') format('truetype'),
         url('../police/bree_regular/breeserif-regular_0-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fishfingerslight';
    src: url('../police/fishfinger_light/fishfingers_light_0-webfont.eot');
    src: url('../police/fishfinger_light/fishfingers_light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/fishfinger_light/fishfingers_light_0-webfont.woff2') format('woff2'),
         url('../police/fishfinger_light/fishfingers_light_0-webfont.woff') format('woff'),
         url('../police/fishfinger_light/fishfingers_light_0-webfont.ttf') format('truetype'),
         url('../police/fishfinger_light/fishfingers_light_0-webfont.svg#fishfingerslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'asgaltregular';
    src: url('../police/asgalt/asgalt-regular-webfont.eot');
    src: url('../police/asgalt/asgalt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/asgalt/asgalt-regular-webfont.woff2') format('woff2'),
         url('../police/asgalt/asgalt-regular-webfont.woff') format('woff'),
         url('../police/asgalt/asgalt-regular-webfont.ttf') format('truetype'),
         url('../police/asgalt/asgalt-regular-webfont.svg#asgaltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}   

/* IMAGE DE L' ACCUEIL EN FOND */
html,body{
   
    margin: 0;
    height: 100%;
    
    

}
#bloc_page {
    width: 100%;
    margin: auto;
}
header {
    background: url('../img/background.png') no-repeat;
    background-size: 100% 100%;
    height: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* BARRE DE NAVIGATION */
nav {
    width: 100%;
    background: rgba(0, 51, 86, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-family: 'bree_serifregular';
}
ul {
    display: flex;    
}
ul li {
    list-style-type: none;
    margin-right: 40px;
    font-size: 3em;
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:hover {
    border-bottom: 2px solid white;
}
#titre {
    margin-bottom: 200px;
    color:rgba(0, 51, 86, 0.9);
    font-size: 3em;
    background: rgba(255,255,255, 0.5);
    width: 1000px; 
    font-family: 'fishfingerslight';
    height: 400px;
    text-align: center;
    
}
#titre h1 {
    margin: 80px;;
    word-spacing: 30px;
}

/* Icone reseaux sociaux qui suivent lors du scroll*/
#reseau {
    background: white;
    position: fixed;
    right: 80px;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}


/* La galerie*/


#galerie {
    background: #dde2e6;
    text-align: center;
    height: 1000px;
    margin-top: -40px;
}
#galerie img {
    width: 483px;
    height: 350px;
    padding-left:10px;
    display: inline-block;
}
#galerie img:hover {
    opacity: 0.2;
}
#galerie a {
    display: inline-block;
    background: url('../img/loup.png') no-repeat center;
}

#galerie h2 {
    text-align: left;
    padding: 30px;
    color:#003356;
    font-size: 3em;
    font-family:'bree_serifregular';
    width: 950px;
    margin: auto;
}

#galerie h2::after {
    border-top: 2px solid #003356;
    width: 30%;
    position:absolute;
    margin-left: 20px;
    margin-top: 40px;
}
#galerie p {
    height: 355px;
    overflow: auto;
}

/* A PROPOS */



#apropos {
    color:#003356;
    height: 1000px;
        
}
#apropos h2 {
    font-size: 3em;
    font-family:  'bree_serifregular';
    text-align: left;
    padding: 30px;
    margin:auto;
    width: 950px;
    color:#003356;
    
}

#apropos h2:after {
    content:'test';
    border-top: 2px solid #003356;
    width: 60%;
    position:absolute;
    left: 20px;
    top: 40px;
    height:2px;
}


.imgApropos {
    height: 700px;
    margin-top: 50px;
}
#bloc_apropos {
    display: flex;
    padding: 50px;  
}

#apropos p {
    padding-left: 20px;
    font-size: 3.8em;
    height: 700px;
    overflow: auto;
    font-family: 'asgaltregular';
    text-align: justify;
}

/* BANNIERE INTERMEDIAIRE ENTRE APROPOS ET FOOTER*/
#banniere_bas {
    clear: both;
    background: rgba(0, 51, 86, 0.2);
    height: 80px;
    margin-bottom: -48px;
}
hr {
    width: 40% ;
    margin: auto;
    background:#003356;
    height: 4px;
}

/* FOOTER*/
footer {
    background: #003356;
    height: 80px;
    font-size: 3em;
    font-family: 'asgaltregular';
    color:white;
    text-align: center;    
}
footer p {
    padding-top: 15px;
}
footer a {
    text-decoration: none;
    color:white;
}
footer a:hover {
    border-bottom: 1px solid white;
}


